.carousel {
    overflow: hidden;
    position: relative;
    height: 100vh;
    width: 100vw;
  }
  
  .carousel-inner {
    display: flex;
    height: 100%;
    transition: transform 0.5s ease-out;
  }
  
  .carousel-item {
    min-width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 0.5rem;
    color: #111;
  }
  
  .carousel-item:nth-child(2) {
    background-color: #cc0000;
  }
  
  .carousel-item:nth-child(4) {
    background-color: #cc0000;
  }
  
  .input_carousel[type="radio"] {
    display: none;
  }
  
  .input_carousel:nth-of-type(1):checked ~ .carousel-inner {
    transform: translateX(0%);
  }
  
  .input_carousel:nth-of-type(2):checked ~ .carousel-inner {
    transform: translateX(-100%);
  }
  
  .input_carousel:nth-of-type(3):checked ~ .carousel-inner {
    transform: translateX(-200%);
  }
  
  .input_carousel:nth-of-type(4):checked ~ .carousel-inner {
    transform: translateX(-300%);
  }
  
  /* Style pour les flèches */
  .carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
    color: white;
    cursor: pointer;
    padding: 1rem;
    user-select: none;
  }
  
  .carousel-control:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .carousel-control.prev {
    left: 0;
  }
  
  .carousel-control.next {
    right: 0;
  }
  
  .carousel_title {
    font-size: 0.9rem;
    margin-left: 1.5rem;
  }
  .carousel_download {
    position: relative;
    width: 10rem;
    font-size: 1rem; 
    text-align: center; 
    margin-right: 1rem;
    border: solid 2px black;
    border-radius: 25px;
    background-color: #f0f0f0; 
    color: #0f1c3f; 
}

  .carousel_hr {
    margin-top: 1rem;
    margin-left: 1.5rem;
    width: 6rem;
    height: 0.2rem;
    border-radius: 50px;
    background-color: #0f1c3f;
    border: none;
  }